*.xlsx
# *.json

.claude
.idea
__pycache__
.venv

# data/current_prod_html/en-us/*
# data/current_prod_html/zh-cn/*
# data/prod-html/*

output
cms_output
data/prod-html-bak
data/current_prod_html

.env
uv.lock

*.zip

.env

logs/
talks/

*.db

.codegraph